# Default ignored files
/.idea/
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
RansomwareProtectionSystem.iml
/ClientApp/DataBackupSystem/backup_dir/
/WebApp/node_modules/
/WebApp/package-lock.json