# Default ignored files
/.idea/
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
RansomwareProtectionSystem.iml
/ClientApp/.env
/ClientApp/DataBackupSystem/backup_dir/
/WebApp/ClientData/
/WebApp/node_modules/
/WebApp/package-lock.json
/WebApp/site/node_modules/
/WebApp/site/package-lock.json
/WebApp/site/build/
/WebApp/.env