#app {
  font-family: 'Arial', sans-serif;
  background-color: #F5F5F5;
  /* Whitish Grey */
  color: #333;
  /* Dark Grey */
  text-align: center;
}

/* Guest */
.header-style {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #1A237E;
  /* Dark Blue */
}

.logo-container,
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 100px;
  width: 100px;
}

.title,
.slogan {
  color: white;
}

footer {
  background: #1A237E;
  /* Dark Blue */
  padding: 20px;
  color: white;
  text-align: center;
}

.footerbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
}

.footerbar li {
  display: inline-block;
  position: relative;
}

.footerbar li a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
}

.footerbar li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  .logo {
    height: 80px;
    width: 80px;
  }
}

/* Client */
/* Dashboard */
.red-row {
  background-color: red;
}

/* Navbar */
#nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 30px;
  background-color: #1A237E;
  /* Dark Blue */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  color: white;
}

#nav a {
  font-weight: 500;
  color: #FFFFFF;
  /* White */
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#nav a:hover,
#nav a:focus {
  color: #B2DFDB;
  /* Light Teal */
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

@media only screen and (max-width: 600px) {
  #nav {
      flex-direction: column;
      align-items: center;
      padding: 15px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  #nav {
      flex-direction: row;
      justify-content: space-around;
      padding: 15px 30px;
  }
}


